{% extends 'base.html'%}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content%}
<div class="overlay"></div>
 <div class="container">
        <div class="row mt-3">
            <div class="col text-center"> <h1>{{ pet.name }}</h1>
            <hr class="w-50 mb-1">
        </div>
            </div>
            
        <div class="row mt-5">
            <div class="col-md-2 col-sm-12"><strong>Category:</strong> {{ pet.category }}</div>
            <div class="col-md-2 col-sm-12"><strong>Gender:</strong> {{ pet.gender }}</div>
            <div class="col-md-2 col-sm-12"><strong>Age:</strong> {{ pet.age }}</div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
            <p>{{ pet.description }} </p>
        </div>
        <div class="row">
            <div class="col border-1 border-dark">
            <img class="col-md-10" src="{{ pet.image_url }}" alt="{{ pet.name }}">
            </div>
        </div>
        <div class="col-12">
        <a href="{%url 'pets' %}"> Back to Pets list</a>
        </div>
        </div>


 </div>
{% endblock %}