{% extends 'base.html'%}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content%}
<div class="overlay"></div>
 <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
            <h2 class="logo-font">Pets</h2>
            <hr class="w-50 mb-1">
            </div>
        </div>        
        <div class="row">
            {%for pet in pets%}
            <div class="col-md-4 mt-3">
                <div class="card">
                    <img class="card-img-top" src="{{ pet.image_url }}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{ pet.name}}</h4>
                        <p class="card-text">Category: {{ pet.category }}</p>
                        <p class="card-text">Age: {{ pet.age }}</p>
                        <p class="card-text">Gender:{{ pet.gender }}</p>
                        <a href="{% url 'pet_desc' name=pet.name %}" class="btn btn-green"> Description </a>
                    </div>
                </div>
            </div>    
            {%endfor%}
        </div>             
</div>
{% endblock %}