{% extends 'base.html'%}
{% load static %}

{% block page_header %}
  
{% endblock %}

{% block content%}

<div class="container h-100">
        <div class="row h-100">
            <div class="col">
                <h1 class="display-4 text-black mt-5 text-center" id="my-text">
                    Cats and Dogs Waiting For a New Homes
                </h1>
                <div class="my-5 text-center">
                        <a href="{% url 'pets' %}" class="btn btn-warning btn-lg border border-warning rounded-2 text-black">SEE PETS</a>
                        <a href="{% url 'donation' %}" class="btn btn-danger btn-lg border border-warning rounded-2 text-white ml-2">DONATE</a>
                </div>
            </div>
        </div>
</div>

{% endblock %}