{% extends 'base.html'%}

{% block content%}
<div class="overlay"></div>
<div class="container-fluid">
<h1>Please leave your comments here</h1>
<div class="Paginator">
  
    {% if comments.has_previous %}
        <a href="?page=1"> << </a>
        <a href="?page= {{comments.previous_page_number}}"> < </a>
    {% endif %}

    {% for num in comments.paginator.page_range %}
        {% if comments.number == num %}
         <strong> {{ num }} </strong>
        {% else%}
            {{ num }}
        {% endif %}
    {% endfor %}

      {% if comments.has_next %}
        <a href="?page= {{comments.next_page_number}}"> > </a>
        <a href="?page= {{comments.paginator.num_pages}}"> >> </a>
    {% endif %}

</div>
    {% for comment in comments %}
        <div class="mt-5 col-md-8">
            <h3 style="font-color:black"> {{ comment.title}}</h3>
            <p> Author: {{ comment.author}}</p>
            <p> {{ comment.date}}</p>
            <p style="font-style:italic">" {{ comment.body}} "</p>
        </div>
         <hr class="w-50 mb-1">
    {%endfor%}
</div>

{% endblock %}